<nav class="navbar navbar-light bg-white border" style=" border: radius 5px; height: 54px">
        <div class="d-flex ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="height:35px">
          <span class="navbar-toggler-icon small" ></span>
        </button>&nbsp;&nbsp;
        <span class="navbar-brand small font-weight-bolder"><h5 >Body Placement Optimizer Tool</h5></span>
        </div>
        <a class="nav-link  nav-link disabled " href="#" id="navbardrop" data-toggle="dropdown ">
            Welcome, John Doe<i class="fa fa-caret-down" style="font-size:20px;color:orange; padding: 0px 7px 6px 5px;
            margin: 0px 1px -1px 3px;"></i>
          </a>
      </nav>