 
            <div class="card p-4 ">
                     <h5 class="font-weight-bold">Demographics</h5> 
                 <hr class="height">
                 <!-- <div breadcrumb bread-primary ></ -->
              <form>
                <div class="row justify-content-between mt-4">
                        <div class="col-lg-6 ">
                                <label for="Customer" class="font-weight-bold text-black-50">Customer Name</label>
                            <input class="form-control col-lg form-control-sm " style="border:solid 1px; width: 95%" value="Berk’s Intertruck" name="Customer">
                        </div>
                </div>
    
                <div class="row justify-content-between ">
                    <div class="col-lg-6 mt-4">
                  <label for="Truck" class="font-weight-bold text-black-50" >Truck</label>
                        <input class="form-control col-lg form-control-sm" style="border:solid 1px; width: 95%" value="Pete 584i" name="Truck">
                    </div>
                    <div class="col-lg-6 mt-4">
                  <label for="Number" class="font-weight-bold text-black-50" style="margin: 0px 23px 8px 25px;">Orginal SO Number</label>
                            <input class="form-control col-lg form-control-sm" style="border:solid 1px; width: 95%; margin: 0px 28px" value="57461" name="Number">
                            </div>
                          </div>
            
                <div class="form-group  mt-4">
                  <label for="Description" class="font-weight-bold text-black-50">Description</label>
                  <input  class="form-control"   style="border:solid 1px" name="Description">
                </div>
            
                  <div class="row justify-content-between ">
                        <div class="col-lg-6 mt-4">
                  <label for="Change" class="font-weight-bold text-black-50">Change On</label>
            
                            <input type="date" class="form-control col-lg form-control-sm" style="border:solid 1px; width: 95%" placeholder="Change ON" name="Change ON">
                        </div>
                        <div class="col-lg-6 mt-4">
                  <label for="Quantity" class="font-weight-bold text-black-50" style="margin: 0px 23px 8px 25px;">Quantity</label>
            
                                <input  class="form-control col-lg form-control-sm" style="border:solid 1px; width: 95%; margin: 0px 28px" id="Quantity" value="1" name="Quantity">
                                </div>
                              </div>
                <div class="form-group  mt-4">
                    <label for="Notes" class="font-weight-bold text-black-50">Notes</label>
                    <textarea class="form-control form-control-sm" rows="3" style="border:solid 1px" id="Notes" name="Notes"></textarea>
                  </div>
                  </form>
                  </div>